
body {
    background-color: aliceblue;
}

img {
    height: 250px;
    object-fit: cover; 
}

.bggreen {
    background-color: #78B86C;
    color : rgba(255,255,255,.8);

}

.justfy {
    text-align: justify;
}

.bgblue{
    background-color: #8484CF;
    color : rgba(255,255,255,.8);
}
.bgred{
    background-color: #F78B9E;
    color : rgba(255,255,255,.9);
}

.bgyellow{
    /* background-color: #F7DE80; */
    background-color: white;
    color : rgba(0,0,0,.7);
}

h1 {
    color : #6c757d;
    border-radius: 0.25rem;
    padding: 0em 0.65em;
}


h2 {
    background-color: #8484CF;
    color : rgba(255,255,255,.8);
    border-radius: 0.25rem;
    padding: 0em 0.65em;

}

h3 {
    background-color: #6c757d;
    color : rgba(255,255,255,.8);
    border-radius: 0.25rem;
    padding: 0em 0.65em;

}


#answertext {
    /* font-family: monospace;   */
    font-size: 200%;
    transition: background-color 0.2s; 
    overflow-x: hidden;
}

#animationtable span {
    display: inline-block;
}

span.white{
    color :rgba(0,0,0,0);
        /* opacity:1; */
}

span.red{
    color: #F78B9E;
    /* opacity:1; */

    /* text-decoration:underline; 
    text-decoration-color:#FF0000; */
}

#animationtable {
    /* font-family: monospace;   */
    transition: background-color 0.2s;
    overflow-x: hidden;
}

.message {
    font-size: 2.5em;
}

table {
    border-spacing: 0px;
}

td, th {
    padding: 0;
    }

#animationtable table{
    margin: auto;
    white-space: nowrap;
}

#animationtable th{
    font-size: 2.5em;
    text-align:center;
    letter-spacing:0.0em;
}


#animationtable td{
    font-size: 3.0em;
    text-align:center;
}

#animationtable .wide{
    letter-spacing:0.1em;
}

#animationtable .narrow{
    letter-spacing:-0.1em;
}

#animationtable span{
    color: black;
    opacity: 0.6;
}

#animationtable .white{
    /* color : #F7DE80; */
    color : white;
        /* opacity:1; */
}

#animationtable .space{
    /* color : #F7DE80; */
    /* color : white; */
         opacity:0; 
}

#animationtable .red {
    color: #F78B9E;
    transform: scale(1);
    animation: animation2 .2s forwards;
}



@keyframes animation2 {
	50% {
		transform: scale(2);
    }
	100% {
		transform: scale(1);
	}
}


.highlight {
	background-color: #e66;  /* ピカッてした時の背景色 */
	transition-duration: 0s; /* 即座に背景色を変える */
}

span.fs:nth-of-type(11n) {
	animation-delay: .12s;
}

span.fs:nth-of-type(7n) {
	animation-delay: .09s;
}

span.fs:nth-of-type(5n) {
	animation-delay: .06s;
}

span.fs:nth-of-type(3n) {
	animation-delay: .03s;
}

span.fs {
    color: black;
	opacity: 0;
	transform: translate(0, -150px) rotate(360deg) scale(0);
	animation: revolveDrop .3s forwards;
}

span.fs0 {
    color: black;
	opacity: 0;
	transform: translate(0, -150px) rotate(360deg) scale(0.2);
	animation: revolveDrop .2s forwards;
	animation-delay: .03s;

}

span.fs1 {
    color: black;
	opacity: 0;
	transform: translate(0, -150px) rotate(360deg) scale(0.2);
	animation: revolveDrop .2s forwards;
	animation-delay: .06s;
}

span.fs2 {
    color: black;
	opacity: 0;
	transform: translate(0, -150px) rotate(360deg) scale(0.2);
	animation: revolveDrop .2s forwards;
	animation-delay: .09s;
}

span.fs3 {
    color: black;
	opacity: 0;
	transform: translate(0, -150px) rotate(360deg) scale(0.2);
	animation: revolveDrop .2s forwards;
}


@keyframes revolveDrop {
	33% {
		transform: translate(0, -50px) rotate(240deg) scale(.6);
    }

	66% {
		transform: translate(0, 20px) rotate(120deg) scale(.8);
    }

	100% {
		transform: translate(0,-0px) rotate(0deg) scale(1);
		opacity: .6;
	}
}


span.res {
    color: black;
    opacity: 1;
    transform: translate(0, 0) rotate(360deg) scale(0);
	animation: result .3s forwards;
}

@keyframes result {
	33% {
		transform: translate(0, 0) rotate(240deg) scale(.3);
    }

	66% {
		transform: translate(0, 0) rotate(120deg) scale(.6);
    }

	100% {
		transform: translate(0,0) rotate(0deg) scale(1);
        opacity: 1;

    }
}
